@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A0B2E;
}
.inter-fonts{
  font-family: "Inter", sans-serif;
}
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #1A0B2E;
    align-items: center;
    padding: 10px;
}
.new-btn{
    position: relative;
    left: 670px;
    top: -113px;
}
#tech{
    color: white
}
#wave{
    background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}
hr{
    border: 0.4px solid #351165;
}
.nav-link{
    display: flex;
    padding-left: 24px;
}
.nav-links{
    list-style: none;
    padding-left: 32px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
    font-size: 16px;
}
.navbar p{
    font-size: 3.12rem;
    font-weight: bold;
}
.btn-1{
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 10000px;
    padding: 12px 12px 12px;
    background: linear-gradient(to top right,#F7E93F, #FB09B4, #9100F8);
    color: white;
    font-family: "Inter", sans-serif;
    transition: transform ease 0.3s 0s;
}
.burger-menu{
    visibility: hidden;
}
#arrow{
    padding-left: 4px;
    padding-right: 12px;
}
/* banner sction styles */
.banner{
    background-image: url(images/hero-bg.png);
    margin-top: 50px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}
.bg-mic{
    position: absolute;
    padding-top: 100px;
    justify-content: center;
    width: 116.67px;
    height: 175px;
    padding-bottom: 97.5px;
}
.mic-cer{
    margin: 101px 309px auto;
    padding-right: 120px;
    margin-top: 30px;
}

.mic-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
    text-align: center;
}
.title{
    font-size: 60px;
    font-weight: 800;
    padding-bottom: 50px;
}
.techwave{
    font-size: 3.75rem;
    padding-top: 40px;
}
.text p{
    padding-top: 8px;
    padding-bottom: 24px;
    color: #FFFFFF;
}
.btn-2{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to top right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    padding: 12.5px 20px 12.5px 8px;
    border: none;
    border-radius: 10000px;
    text-align: center;
    align-items: center;
    transition: transform ease 0.3s 0s;
}
.btn-2 img{
    padding-left: 20px;
    padding-right: 8px;
}
.btn-3{
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    padding: 12.5px 20px 12.5px 8px;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    text-align: center;
    align-items: center;
    background: transparent;
    margin-left: 8px;
    font-family: "Inter", sans-serif;
    margin-bottom: 101px;
    transition: transform ease 0.3s 0s;
}
.btn-3 img{
    padding-left: 20px;
    padding-right: 8px;
}
.btn-1:hover, .btn-2:hover, .btn-3:hover{
    cursor: pointer;
    font-family: "Inter", sans-serif;
    transform: translateY(-10px);
}
.about{
    background-color: #1A0B2E;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 1200px;
}
.about-title{
    font-size: 3rem;
    padding-bottom: 16px;
    padding-top: 50px;
    text-align: center;
}
.about-text p{
    color: white;
    line-height: 20px;
    padding-bottom: 40px;
    margin-left: 250px;
    width: 700px;
    border: 1px solid white;
}
.hr1{
    margin-bottom: 80px;
}
.rating-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 200px);
}
.number{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 16px;
}
.letter{
    color: white;
    line-height: 20px;
    margin-bottom: 120px;
}
.number1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}
.why-section{
    background-color: #230E3D;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.why-section-title h1{
    font-size: 3rem;
    padding-bottom: 40px;
}
.box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover {
    box-shadow: 2px 2px 40px 2px white;
    cursor: pointer;
}

.box-container{
    width: 1200px;
}
.box-1{
    grid-area: card-1;
    width: 380px;
}
.box-1 h2, .box-2 h2, .box-3 h2, .box-4 h2, .box-5 h2{
    padding-left: 40px;
    padding-bottom: 16px;
}
.box-1 p{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 107.5px;
    width: 300px;
}
.box-2{
    grid-area: card-2;
    height: 225px;
}
.box-2 p, .box-3 p, .box-4 p, .box-5 p{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.box-2 img, .box-3 img, .box-4 img, .box-5 img{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 16px;
}
.box-3{
    grid-area: card-3;
    height: 225px;
}
.box-4{
    grid-area: card-4;
    height: 275px;
}
.box-5{
    grid-area: card-5;
    width: 380px;
}
.box-1 img{
    padding: 107.5px 280px 16px 40px;
}
.box-container{
    display: grid;
    gap: 30px;
    grid-template-areas:
    "card-1 card-2 card-2 card-2"
    "card-1 card-3 card-3 card-3"
    "card-4 card-4 card-4 card-5";
}
.box-1, .box-2, .box-3, .box-4, .box-5{
    background-color: #351165;
    text-align: left;
    border-radius: 40px;
}
.box-2, .box-3, .box-4{
    width: 790px;
}
.featured-episodes{
    color: white;
}
.episode-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.video-1:hover, .video-2:hover, .video-3:hover{
    box-shadow: 2px 2px 40px 2px white;
    cursor: pointer;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.video-1{

    width: 380px;
}
.video-1, .video-2, .video-3{
    border-radius: 30px;
    background-color: #250D44;
}
.yamin, .chikoo-bunty, .motu-patlu{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.video-1 h1{
    padding-top: 24px;
    padding-bottom: 12px;
    width: 332px;
    font-size: 1.5rem;
    padding-left: 24px;
}
.video-1-p{
    line-height: 24px;
    padding-left: 24px;
}
.video-1 img{
    padding-top: 14px;
    padding-left: 24px;
}
.clocks{
    display: flex;
    align-items: center;
}
.clocks img{
    width: 20px;
    height: 20px;
}
.time{
    color: #00FF88;
    padding-top: 12px;
    font-weight: 600;
    padding-left: 6px;
}
.video-2 h1{
    padding-top: 24px;
    padding-bottom: 12px;
    width: 332px;
    font-size: 1.5rem;
    padding-left: 24px;
}
.video-2 p{
    line-height: 24px;
    padding-left: 24px;
}
.video-3 h1{
    padding-top: 24px;
    padding-bottom: 12px;
    width: 332px;
    font-size: 1.5rem;
    padding-left: 24px;
}
.video-3 p{
    line-height: 24px;
    padding-left: 24px;
}
.host-section:hover{
    box-shadow: 2px 2px 40px 2px white;
    cursor: pointer;
}
.host{
    color: #FFFFFF;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 200px;
}
.host-title{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 48.5px;
}
.host-title h1{
    font-size: 3rem;
}
.host-section{
    display: flex;
    background-color: #351165;
    border-radius: 40px;
}
.host-info{
    flex-direction: column;
    align-items: end;
    width: 896px;
}
.host-info h2{
    padding-top: 48.5px;
    padding-bottom: 16px;
    font-size: 2rem;
}
.host-info p{
    line-height: 24px;
    padding-bottom: 16px;
}
.host-image{
    padding: 40px 24px 40px 40px;
}
.icon:hover{
    cursor: pointer;
}
.icon{
    padding-right: 80px;
}
.li{
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 30px;
}
.x{
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 30px;
    margin-left: 8px;
    width: 20px;
}
.i{
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 30px;
    margin-left: 8px;
}
.yu{
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 30px;
    margin-left: 8px;
}
.cer{
    position: absolute;
     background: transparent;
    margin-left: 8px;
}
/* footer section styles */
footer{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 412px;
    background-size: cover;
}
.name-of-brand{
    text-align: center;
    padding-top: 120px;
    font-size: 6rem;
    font-weight: 600;
}
.icons{
    text-align: center;
    /* gap: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.icons p{
    color: white;
    padding-left: 2.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icons img{
    padding-left: 40px;
    padding-right: 2.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.copyright{
    color: white;
    text-align: center;
}
.hide{
    display: none;
}



@media screen and (max-width:576px) {
    .navbar{
        width: 440px;
    }

    .nav-link, .btn-1{
        display: none;
    }
    .burger-menu{
        visibility: visible;
        padding-right: 18px;
    }
    .burger-menu:hover{
        cursor: pointer;
    }
    .navbar{
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    .mic-cer{

        height: 220px;
        width: 220px;
    }
    .text{
        width: 400px;
        margin: 0 auto;
    }
    .banner{
        background-image: url(images/hero-bg.png);
        background-position: center;
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }
    .box-container{
        grid-template-areas: 
        "card-1" "card-2" "card-3" "card-4" "card-5";
        /* flex-direction: column; */
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5{
        width: 400px;
        height: 100%;
    }
    .about{
        width: 400px;
        margin: 0;
        padding: 0;
    }
    .about-title{
        width: 400px;
        font-size: 32px;
    }
    .about-text{
        text-align: center;
        width: 400px;
        justify-content: center;
        align-items: center;
    }
    .about-text p{
        width: 400px;
        margin: 0;
    }
    .rating-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 180px);
        height: 84px;
        margin: 0;
    }
    .why-section {
        padding: 0;
        margin-top: 250px;
    }
    .why-section-title h1{
        width: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .featured-episodes{
        padding: 0;
        margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .host-section, .host-info{
        width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }
    .video{
        flex-direction: column;
        margin-left: 27px;
        margin-top: 500px;
    }
    .host-info p{
        width: 352px;
    }
    .host{
        padding: 0;
        text-align: center;
        position: relative;
        margin-top: 500px;
    }
    .icon{
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    .name-of-brand{
        text-align: center;
        padding-top: 40px;
        font-size: 60px;
        font-weight: 600;
    }
    .box-container{
        height: 1450px;
        padding: 0 auto;
    }
    .box-1 img{
        margin: 0;
        padding: 24px 316px 16px 44px;
    }
    .box-1{
        width: 400px;
        height: 287px;
    }
    .box-2{
        width: 400px;
        height: 215px;
    }
    .box-3{
        width: 400px;
        height: 215px;
    }
    .box-4{
        width: 400px;
        height: 287px;
    }
    .box-5{
        width: 400px;
        height: 215px;
    }
    .box-2 img, .box-3 img, .box-4 img, .box-5 img {
        padding: 24px 316px 16px 24px;
    }
    .box-2 p, .box-3 p, .box-4 p, .box-5 p {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        width: 352px;
    }
    footer{
        margin-top: 150px;
    }



}